<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">

    <title>404 - Error</title>

  </head>
  <body>
    <div class="main-cont">
    {{>header}}
    <p>{{errorMessage}}</p>
    </div>
      
    {{>footer}}
  </body>
</html>