<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>

<body>
    <div class="main-cont">

    {{>header}}
    <img src="img/1657465131282.jpeg" alt="Picture of Me" class="port">
    </div>
    
    {{>footer}}
</body>

</html>