<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>

<body>
    <div class="main-cont">

    {{>header}}
        <h3>You can get the weather by entering the name of your country on this website.</h3>
        

    </div>
    
    {{>footer}}
</body>

</html>