<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Help</title>
</head>

<body>
    <div class="main-cont">

    {{>header}}
    <p>{{helpText}}</p>

        <div class="social">
            <a href="mailto: saeedsabra565@gmail.com?supject=Contact" class="link">Email</a>
            <a href="tel:+970592516048" target="_blank">Phone</a>
            <a href="https://www.facebook.com/saeedm.sabra.1/" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/saeed.m.sabra/" target="_blank">Instagram</a>
            <a href="https://www.linkedin.com/in/saeedsabra565/" target="_blank">Linkedin</a>
            <a href="https://github.com/Saeed-Sabra" target="_blank">GitHub</a>

        </div>
    </div>
    {{>footer}}
</body>

</html>